article .container {
  margin: 10px 0;
}
article .container a {
  display: inline-block;
  font-size: 1rem;
  width: 100%;
  padding: 5px;
  text-align: right;
  text-decoration: underline;
}
article .container a:hover {
  color: rgba(106, 115, 253, 0.95);
}
article .container a:active {
  color: rgba(148, 157, 253, 0.95);
}
