<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Nebula Travel</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.min.css" />
</head>
<body>
    <main>
        @Html.Partial("_Header")
        <article>
            <div class="container">
                <div class="img-container"></div>
                <div class="h-container">
                    <h1>Welcome to NebulaTravel</h1>
                </div>
                <div class="text-container">
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet ac nunc sed lobortis. Fusce accumsan efficitur nibh, ut sodales elit efficitur at. Vestibulum gravida nunc turpis, at gravida lorem sollicitudin et. In congue semper tincidunt. Phasellus sodales in neque quis vehicula. Nullam sit amet purus ut mauris pretium rutrum. Suspendisse et varius leo. Vivamus pretium, felis ac condimentum condimentum, lorem purus tempus lacus, et pulvinar libero massa eget erat. Sed quam dolor, fringilla eu finibus eu, condimentum ut orci. Integer cursus elementum augue, eget tincidunt purus semper sed.
                        </p>
                        <a href="Flights/Calendar">Check flights</a>
                    </section>
                    <hr />
                    <br />
                    <section>
                        <p>
                            Donec dapibus porttitor purus, id mattis libero lobortis vel. Aenean rhoncus viverra ipsum ut varius. Quisque eu augue at enim suscipit auctor. Morbi pulvinar tincidunt neque. Quisque massa nibh, laoreet vel velit quis, bibendum viverra dui. Vivamus imperdiet dui eget eros tempus aliquam. Sed facilisis dignissim sem vitae finibus. Nunc pharetra dui erat, ut convallis odio hendrerit in. Sed consectetur ac neque eget viverra. Phasellus non elit eu neque porta porttitor in ac magna. Etiam condimentum, eros sit amet euismod accumsan, odio ipsum malesuada ante, sed placerat turpis justo vel augue. Nam eget est in velit laoreet facilisis. Nullam eget rhoncus neque. Suspendisse vel sapien id nunc dictum accumsan.
                        </p>
                        <a href="Destinations/List">See destinations</a>
                    </section>
                    <hr />
                    <br />
                    <section>
                        <p>
                            Phasellus mattis tellus at maximus porttitor. Cras vulputate dolor in massa sollicitudin iaculis. Proin ut dui aliquet mi condimentum malesuada in quis sapien. Proin sed odio tortor. Integer massa enim, convallis ut pellentesque id, gravida id tortor. Quisque ultricies commodo nisl, eu semper diam dictum eu. Nam tincidunt ultrices velit sed vehicula. Phasellus elementum vehicula blandit. Donec laoreet risus vitae sem interdum varius. Integer varius odio dignissim dui tempus semper. Curabitur ornare vulputate lacinia.
                        </p>
                        <a href="Spaceships/List">Read about our spaceships</a>
                    </section>
                    <br />
                </div>
            </div>
            <button id="scrollToTopButton">Up</button>
        </article>
        <div id="space"></div>
        @Html.Partial("_Footer")
    </main>
</body>
@Html.Partial("ViewScripts")
</html>
