@model NebulaTravel.Models.Destination

<div class="container">
    <div class="img-container" style='background-image: url("../images/destinations/@Model.Picture")'></div>
    <div class="h-container">
        <h1>@Model.Name</h1>
    </div>
    <div class="text-container">
        <section>
            <p>
                @Model.Overview
            </p>
            <a href="Destination?id=@Model.DestinationId">Read More</a>
        </section>
    </div>
</div>