<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>Flight</title>
    <link rel="stylesheet" type="text/css" href="/styles/flight.css" />
</head>
<body>
    <main>
        @Html.Partial("_Header");
        <article>
            <div class="container">
                <div class="img-container"></div>
                <div class="h-container">
                    <h1>Journey to the Moon</h1>
                </div>
                <div class="text-container">
                    <section>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.Rem repellat, fugiat unde ipsum, alias, aperiam odit voluptatem vitae sed neque quibusdam est. Similique, corporis, atque, veniam possimus hic voluptatibus exercitationem enim consequuntur molestias voluptate repudiandae. Repellat culpa nemo at quidem, architecto error eligendi autem veritatis, veniam asperiores ipsa, alias doloribus.
                        </p>
                        <a href="#"> Book flight</a>
                    </section>
                </div>
            </div>
            <button id="scrollToTopButton"> Up </button>
        </article>
        <div id="space"></div>
    </main>
</body>
@Html.Partial("ViewScripts");
</html>