@import "Components/colors.less";
@import "Components/fonts.less";
@import "Components/desktop.less";
@import "Components/mobile.less";

form {
    font-size: 1.1rem;
    text-align: left;
    input, button {
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        margin: 5px;
        border-radius: 3px;
    }
}
